<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <label for="email">Email: </label>
        <input type="text" name="email" placeholder="name@exmaple.com" required>
        <label for="password">Password: </label>
        <input type="text" name="password" placeholder="example@123" required>
        <button type="submit">
            Login User
        </button>
        <p><a href="/signup" method="get">Don't have an account ? Signup</a></p>
    </form>
    <footer>
    </footer>
</body>
</html>